# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment
venv/
env/

# Ignore environment variables
.env

# Ignore database files
db.sqlite3

# Ignore VS Code settings
.vscode/
